---
import { IHeroProps } from "@types";

const { name, about, email, mobile } = Astro.props as IHeroProps;
---

<section>
  <p class="dark:text-light mt-[117px]">Hey, I’m</p>
  <h1>{name}</h1>
  <p class="dark:text-light text-lg mb-16">
    {about}
  </p>

  <h2 class="dark:text-light mb-3 w-[15rem] uppercase">Contact</h2>

  <table>
    <tbody>
      <tr>
        <td class="pr-5 pb-3"
          ><a
            aria-label="Mobile number"
            href=`tel:${mobile}`
            class="p-0 border-none footer-icons"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-phone"
              ><path
                d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"
              ></path></svg
            ></a
          ></td
        >
        <td class="pb-3"
          ><a class="dark:text-light text-sm" href=`tel:${mobile}`>{mobile}</a
          ></td
        >
      </tr>
      <tr>
        <td class="pr-5 pb-3"
          ><a
            aria-label="Email address"
            href=`mailto:${email}`
            class="p-0 border-none footer-icons"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-mail"
              ><rect width="20" height="16" x="2" y="4" rx="2"></rect><path
                d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path></svg
            >
          </a></td
        >
        <td class="pb-3"
          ><a
            class="dark:text-light text-sm"
            href=`mailto:${email}`
            target="_blank">{email}</a
          ></td
        >
      </tr>
    </tbody>
  </table>
</section>
